.img{
  width: 120px;
  margin: 20px 0px 0px 20px;
}

.double{
  border-top: 0px solid #e7e9ef;
  background: #e7e9ef;
  width: 260px;
  margin: 20px 0px 0px 0px;
}

.view{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
}
.linkStyle{
  text-decoration: none
}
