@import '../../style/variables';
@import '../../style/breakpoints';

.margin{
  margin-right: 10px
}
.headerWrapper {
  height: 65px;
  border-bottom: 1px solid lighten($font-color, 50);
  background-color: white;
  flex-direction: row;
  display:flex;
  justify-content: space-between;
  align-items: center;

  .header {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      @include on('medium') {
        margin-left: 20px;
      }
      margin-left: 5%;

      width: 120px;
      height: 24.27px;
    }
  }
}

   .navigation-row{
     display: flex;
     flex-direction: row;
   }

   .navigation-column{
     display: flex;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     svg{
       max-width: 24px;
     }
   }

.img{
  width: 120px;
  margin: 20px 0px 0px 20px;
}

.double{
  border-top: 0px solid #e7e9ef;
  background: #e7e9ef;
  width: 260px;
  margin: 20px 0px 0px 0px;
}

.view{
  display: flex;
  flex-direction: column;
  width: 310px;
  justify-content: center;
  align-items: center;
}

.flexRow{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hideButton{
  text-decoration: none;
  @media(max-width:1023px){
    display: none;
  }
}

.linkStyle{
  text-decoration: none
}
