.card {
  max-width: 900px;
  width: 100%;
  background-color: #FFF;
  padding: 20px;
  margin: 20px auto 20px auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 18px 10px rgba(225,232,240,0.7);
}

.linkRoute{
  text-decoration: none;
}
.row{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
}

.form{
  width: 100%;
  height: 100%;
}


.marginInput{
  margin-top: 1rem;
}

.backButton{
  position: absolute;
  right: 30px;
  font-weight: 400;
  cursor: pointer;
  color: #545454;
}


.trix {
 min-height: 200px;
  padding-left: 25px;
  margin-top: 10px;
  & .trix-toolbar [data-trix-attribute='quote'], & .trix-toolbar[data-trix-attribute='code'], & .trix-toolbar [data-trix-attribute='decreaseNestingLevel'], & .trix-toolbar[data-trix-attribute='increaseNestingLevel'], .trix-toolbar [data-trix-attribute='strike'], .trix-toolbar [data-trix-attribute='attachFiles'] {
    display: none;
  }
}

.trixError {
  min-height: 200px;
  padding-left: 25px;
  margin-top: 10px;
  border-color: #f44336;
  & .trix-toolbar [data-trix-attribute='quote'], & .trix-toolbar[data-trix-attribute='code'], & .trix-toolbar [data-trix-attribute='decreaseNestingLevel'], & .trix-toolbar[data-trix-attribute='increaseNestingLevel'], .trix-toolbar [data-trix-attribute='strike'], .trix-toolbar [data-trix-attribute='attachFiles'] {
    display: none;
  }
}
.technologies{
    margin: 8px 0 10px 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }

.technologyMargin {
  margin-top: 25px;
}
.technologyMarginError {
  margin-top: 25px;
  border: 1px solid#f44336;
}

.red{
  color:#f44336
}

.agreemErr{
  font-size: 12px;
  color:#f44336;
  font-weight:400;
}

.addressContainer{
  width: 33.33%;
  padding: 0 0.75rem;
}

.stepperContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#f3f6f8;
}

.dropzoneError{
  color:#f44336;
  font-size:10px;
  display: flex;
  justify-content:center;
}
.dropzoneContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%
}

.dropzoneFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropzoneUploaded{
  max-width: 200px;
  max-height: 100px;
  margin-right: 5px;
}

.addOfferContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f6f8;
}

.topContainer{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 0 0.75rem;
}

.topContainerCompany{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 0 0.75rem;
  margin-top: 68px;
}

.middleContainer{
  display: flex;
  width: 100%;
}
.widthPadding {
  width: 33.33%;
  padding: 0 0.75rem;
}
.bottomSection{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flexWidth{
  display: flex;
  width:100%;
}
.mapContainer{
height: 300px;
  width: 100%
}

.width100{
  width: 100%
}
.techStackContainer{
  padding: 0 0.75rem;
  margin-left: 10px
}
.technologyTitle{
  width: 100%;
  display: flex;
  justify-content: center;
}
.agreements{
  width: 100%;
  padding: 0 0.75rem;
}

.titleMargin{
  margin: 15px 0px 10px 10px;
}


.headerInformation{
  margin: 15px 0px 10px 10px;
  color: lightGrey
}

.checkboxContainer{
  width: 33.33%;
  position: realtive;
  padding: 20px 0.5rem;
}
