@import '../../../style/variables';
@import '../../../style/breakpoints';

.tab {
  text-decoration: none;
  text-transform: none;
  line-height: 35px;
  font-weight: 500;
  &.activeTab, &:hover {
      color: rgb(244, 143, 177);
    }
}
.linkStyle{
  text-decoration:none;
}
