@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  scroll-behavior: smooth;
}

.root {
  height: 100vh;
}

body {
  color: $font-color;
  font-size: 14px;
}
